:root{
    --b-color:#239BD8;
    --gray-color:#7C8DB0;
    --green-color:#22C3A6;

}
.nav-menu{
    background-color: var(--b-color);
}

.blue{
    color: var(--b-color);
}
.gray-text{
    color: var(--gray-color);
}
.green-text{
    color: var(--green-color);
}
.card-body{
    background-color: #F6F9FF;
}
.card{
    border-radius: 5rem;
}

.search{
    background-color: #239BD8;
    border-bottom: 1px solid white;
    padding: 3px;
}

.search>input {
    background-color: #239BD8;
    border: none;
    outline: none;
}

.search>input::placeholder {
    color: white;
}

.select{
    background-color: #239BD8;
    border: none;
    outline-color: white;
    font-size: 12px;
}